*{
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
    background-image: url(../img/plantillapuntitos.jpg);
}

.contenedor{
    display: grid;
    grid-gap: 15px;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.logo{
    text-align: center;
    margin-top: 20px;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}


.contenedor .header {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    background-color: pink;
    background: rgb(255,192,203);
    background: radial-gradient(circle, rgba(255,192,203,1) 0%, rgba(173,173,173,1) 35%);
}

.contenedor .header a {
    text-decoration: none;
    font-weight: lighter;
    color: white;
    font-size: x-large;
}

.contenedor .header a:hover {
    color: rgb(255, 93, 120);
}

header.header.btn-group.border.border-4.border-secondary.shadow-lg.p-3.mb-5.bg-body.rounded {
    display: flex;
}

.titulo{
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.gif{
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.gif iframe{
    width: 371px;
    height: 331px;
    transform: rotate(358deg);
}

.subtitulo{
    grid-row: 5 / 6;
    grid-column: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    font-size: x-large;
    text-align: center;
}

.subtitulo h4{
    padding: 10px;
    font-size: xx-large;
}

.lista{
    grid-row: 5 / 6;
    grid-column: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align:justify;
    font-size: larger;
}

.lista ul{
    list-style: none;

}

.texto{
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    width: 400px;
    text-align: center;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 80px;
}

.texto p{
    background: radial-gradient(pink, #adadad);
    border: solid 1px black;
    border-radius: 5%;
    padding: 10px;
}

.carousel{
    display: grid;
    grid-row: 6 / 7;
    grid-column: 1 / 4;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 20px 0.5px black;
    margin: 500px;
}

.bot-bar{
    grid-row: 7 / 8;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.bot-bar ul{
    padding-left: 0;
}

.bot-bar ul li{
    display: inline-block;
}

.bot-bar ul li a{
    text-decoration: none;
    color: rgb(0, 54, 102);
    font-weight: bold;
    padding: 10px;
    font-size: larger;
}

.bot-bar ul li a:hover{
    color: rgb(255, 93, 120);
}

.ayuda{
    margin-bottom: 15px;
    margin-left: 20px;
}

.ayuda button{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: rgb(0, 54, 102);
}

.ayuda button a{
    text-decoration: none;
    color: white;
}

.ayuda button a:hover{
    color: rgb(255, 93, 120);
}

.redesSociales{
    grid-row: 7 / 8;
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 50px;
}

.redesSociales a{
    padding: 10px;
}

.redesSociales a:hover{
    background-color: rgb(255, 93, 120);
}

@media screen and (max-width: 768px) {
    .contenedor{
        width: 100%;
        display: block;
    }
    .logo{
        grid-row: 1 / 2;
        grid-column: 1 / 4;
    }
    .header{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        grid-row: 2 / 3;
        grid-column: 1 / 4;
        text-align: center;
        justify-content: center;
    }
    .titulo{
        grid-row: 3 / 4;
        grid-column: 1 / 4;
        text-align: center;
        font-size:medium;
    }
    .texto{
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        width: 280px;
    }
    .gif{
        grid-row: 5 / 6;
        grid-column: 1 / 4;
        margin-bottom: 50px;
        width: 375px;
        margin-left: auto;
        margin-right: auto;
    }
    .gif iframe{
        transform: rotate(360deg);
        width: 371px;
    }
    .subtitulo{
        grid-row: 6 / 7;
        grid-column: 2 / 3;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }
    .lista{
        grid-row: 7 / 8;
        grid-column: 2 / 3;
        margin-top: 0;
        margin-bottom: 50px;
    }
    .carousel{
        margin: 50px;
    }
    .bot-bar{
        grid-row: 8 / 9;
        margin-top: 70px;
        justify-content: space-evenly;
    }
    .bot-bar ul{
        margin-left: 10px;
    }
    .ayuda{
        grid-row: 8 / 9;
        grid-column: 3 / 4;
        display: flex;
        transform: translateX(-15px);
    }

    .redesSociales{
        grid-row: 9 / 10;
        grid-column: 1 / 4;
    }
    .redesSociales a{
        padding: 30px;
    }
}
@media screen and (min-width: 1000px) {
    .carousel{
        margin: 30px 250px;
    }
}


