@mixin grid {
    display: grid;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-content: center;
}


.bot-menu{
    @include grid;
    align-items: flex-end;

    ul{
        padding-left: 0;

        li{
            display: inline;

            a{
                text-decoration: none;
                color: map-get($map: $colores, $key: 'link');
                font-weight: bold;
                padding: 10px;

                &:hover{
                    color: map-get($map: $colores, $key: 'secondary');
                }
            }
        }
    }
}

.ayuda{
    @include grid;
    grid-column-start: 2;
    grid-column-end: 3;
    align-items: flex-end;

    .btn--footer{
        height: 32px;
        width: 32px;
        border-radius: 50%;
        background-color: map-get($map: $colores, $key: 'link');
        a{
            text-decoration: none;
            color: map-get($map: $colores, $key: 'white');
            &:hover{
                color: map-get($map: $colores, $key: 'secondary');
            }
        }
    }
}
.redesSociales{
    @include grid;
    grid-column-start: 3;
    grid-column-end: 4;
    align-items: flex-end;
    transform: translateY(10px);

    .row{

        .col{
            
            a{
                display: inline;
            }
        }
    }

    a{
        padding: 10px;

        &:hover{
            background-color: map-get($map: $colores, $key: 'secondary');
        }
    }
}