.titulo{
    margin-top: 20px;
}
.texto{
    font-style: italic;
    p{
        background: radial-gradient(map-get($map: $colores, $key: 'primary'), map-get($map: $colores, $key: 'grey'));
        border: solid 1px map-get($map: $colores, $key: 'black');
        border-radius: 5%;
        padding: 10px;
    }
}
.gif{

    iframe{
        width: 372px;
        height: 332px;
        transform: rotate(358deg);
    }
}
.subtitulo{
    margin-top: 50px;
    font-size: x-large;
    h4{
        padding: 10px;
    }
}
.lista{
    margin-top: 50px;
    
    ul{
        list-style: none;
    }
}