
.turnos {
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;

    .pediTurno{
        h2 {
            color: map-get($map: $colores, $key: 'darkgrey');
            background: map-get($map: $colores, $key: 'primary');
            background: linear-gradient(0deg, map-get($map: $colores, $key: 'primary') 0%, map-get($map: $colores, $key: 'grey') 100%);
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            border-radius: 5%;
            outline: 3px solid map-get($map: $colores, $key: 'secondary');
            outline-offset: 2px;
            font-size: xx-large;
        }
    }

    @mixin btn {
        border-radius: 50%;
        border: none;
        font-weight: bold;
        background: map-get($map: $colores, $key: 'primary');
        outline: 3px solid map-get($map: $colores, $key: 'secondary');
        outline-offset: 3px;
    }

    .clickAqui{
        margin-top: 70px;

        .btn--turnos{
            @include btn;
            height: 100px;
            width: 100px;

            a{
                text-decoration: none;
                font-size: larger;

                &:hover{
                    color: map-get($map: $colores, $key: 'secondary');
                }
            }
        }
    }
}

.animation{
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.perrita{
    @extend .animation;
    grid-column-start: 3;
    grid-column-end: 4;
    animation-name: perrita;
    height: 340px;

    img{
        outline: 5px dotted map-get($map: $colores, $key: 'secondary');
        outline-offset: 3px;
    }
}

@keyframes perrita {
    0%{
        opacity: 0.8;
        outline: 5px dotted map-get($map: $colores, $key: 'secondary');
        outline-offset: 3px;
    }
    50%{
        opacity: 1;
        outline: 5px dotted map-get($map: $colores, $key: 'red');
        outline-offset: 3px;
    }
    100%{
        opacity: 0.8;
        outline: 5px dotted map-get($map: $colores, $key: 'secondary');
        outline-offset: 3px;
    }
}

.texto{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    margin-top: 40px;
    background: linear-gradient(map-get($map: $colores, $key: 'primary'), map-get($map: $colores, $key: 'grey'));
    height: min-content;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px 0 15px;
    color: map-get($map: $colores, $key: 'darkgrey');
    border-radius: 5%;
    h3{
        margin-top: 15px;
    }
    p{
        margin-top: 50px;
    }
}

.ruben{
    @extend .animation;
    height: 355px;
    grid-column-start: 1;
    grid-column-end: 2;
    animation-name: ruben;

    img{ 
        outline: 5px dotted map-get($map: $colores, $key: 'secondary');
        outline-offset : 3px;
    }
}

@keyframes ruben {
    0%{
        opacity: 0.8;
        outline: 5px dotted map-get($map: $colores, $key: 'secondary');
        outline-offset: 3px;
    }
    50%{
        opacity: 1;
        outline: 5px dotted map-get($map: $colores, $key: 'red');
        outline-offset: 3px;
    }
    100%{
        opacity: 0.8;
        outline: 5px dotted map-get($map: $colores, $key: 'secondary');
        outline-offset: 3px;
    }
}