.bot-bar{
    transform: translateY(5px);
    ul{
        padding-left: 0;
        li{
            display: inline;
            a{
                text-decoration: none;
                color: $link;
                font-weight: bold;
                padding: 10px;
                &:hover{
                    color: $secondary;
                }
            }
        }
    }
}
.ayuda{

    button{
        height: 32px;
        width: 32px;
        border-radius: 50%;
        background-color: $link;
        a{
            text-decoration: none;
            color: $white;
            &:hover{
                color: $secondary;
            }
        }
    }
}
.redesSociales{

    a{
        padding: 10px;
        &:hover{
            background-color: $secondary;
        }
    }
}