*{
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.contenedor{
    width: 100%;
}

@import "vars";
@import "bgLogo";
@import "header";
@import "cont-serv";
@import "footer-serv";







